html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: black;
  color: white;
  font-family: sans-serif;
}

.custom-transition {
  transition: background-color 0.7s ease-in-out, transform 0.7s ease-in-out, border-radius 3s ease-in-out;
}
